.container{
    background-image: url(AboutMeBackground.gif);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    border-top: 8px solid rgb(156, 156, 156);
    border-bottom: 8px solid rgb(156, 156, 156);
    height: 70vh;
    text-align: center;
    padding-left: 100pt;
    padding-right: 100pt;
    padding-top: 50pt;
    padding-bottom: 160pt;
  }

.hov{
    color: white;
    -webkit-text-stroke: 0.7pt black;
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20pt;
}

.profpic{
    border: 10pt;
    border-style: double;
    border-color: black;
}
.amp{
    padding-right: 50pt;
    transition: transform 2s;
  }

.amp:hover{
    transform: scale(1.4);
}

.profpic:hover {
    transition: all 2s;
    border-radius: 50%;
}

.am{
    color: white;
    background-color: rgba(37, 37, 37, 0.7);
    border-radius: 20px;
    border: 3pt;
    border-style:dashed;
    border-color: rgb(255, 255, 255);
}

p{
    padding-left: 10pt;
    padding-right: 10pt;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s;
}

.p1:hover, .p2:hover , .p3:hover, .p4:hover, .p5:hover, .p6:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    text-align: center;
    transform: scale(1.3);
}

.music{
    background-image: url(backgroundmusic.gif);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}
.music .hobbies {
    padding-top: 50pt;
    margin-left: 100pt;
    margin-right: 50pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Muspic1{
    padding-right: 30pt;
}

.Muspic2{
    padding-left: 30pt;
}
