body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(background.gif);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 100vh;
}

#detail{
  text-align: center;
  margin-top: 150pt;
  margin-bottom: 300pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-weight: bold;
  color: rgb(67, 0, 83);
  -webkit-text-stroke: 0.80pt rgb(255, 255, 255);
}

#detail:hover{
  transform: scale(1.1);
}
