.activities{
            background-color: rgba(255, 0, 179,0.9);
            border-top: 5pt solid black;
            border-bottom: 5pt solid black;;
            text-align: center;
            padding-top: 10pt;
            padding-bottom: 10pt;
            margin-bottom: 30pt;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .activities a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: 15pt;
            transition:all 3s;
        }

        .activities a:hover{
            transform: scale(1.1);
            color: rgb(126, 0, 88);
        }

        span{
            padding-left: 100pt;
            padding-right: 100pt;
        }
